
.player{
  margin-top: 100px;

  .title{
    text-align: left;
    margin-left: 20px;
    font-weight: $font-semibold;
    font-size: 22px;
  }

  .gap{
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }

  .description{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: $font-regular;

    .category{
      margin-left: 10px;
    }

    .ranking{
      margin-right: 10px;
    }
  }
}

.categories {
  margin-top: 30px;

  ol{
    list-style-type: none;

    li{
      font-size: 16px;
      display: inline-block;
      letter-spacing: 3px;
      font-weight: $font-semibold;
    } 
  }

  a{
    text-decoration: none;
    color: $color-2;
    letter-spacing: 3px;
    font-weight: $font-regular;
    margin-left: 10px;
  }

  .active-category{
    color: $color-1;
    font-weight: $font-bold;
  }
}