
.player{
  margin-top: 100px;

  .title{
    text-align: left;
    margin-left: 20px;
    font-weight: $font-semibold;
    font-size: 22px;
  }

  .gap{
    margin: auto;
    margin-top: 40px;
    width: 100%;
  }

  .description{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: $font-regular;

    .category{
      margin-left: 10px;
    }

    .ranking{
      margin-right: 10px;
    }
  }
}