.search{
  margin-top: 100px;

  .search-form{
    #search, #category{
      width: 240px;
      height: 40px;
      border-radius: 5px;
      border: 0;
      font-family: $font;
      font-weight: $font-semibold;
      font-size: 16px;
      color: $color-4;
      text-align: center;
      margin-right: 20px;
    }

    #category{
      text-align: left;  
    }

    label{
      font-size: 16px;
      letter-spacing: 3px;
      color: $color-3;
      font-weight: $font-semibold;
      margin-right: 5px;
      
    }

    
  }

  button{
    margin-left: 30px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    background-color: $color-1;
    font-size: 15px;
    letter-spacing: 3px;
    color: $color-2;
    font-weight: $font-semibold;
    text-transform: uppercase;
    cursor: pointer;
  }

  .found{
    margin-top: 50px;
  }

  .visible{
    display: none;
  }
}
@media only screen and (max-width: 710px){
  .search-form{
    display: flex;
    flex-direction: column;
    align-items: center;

    input, select, label{
      text-align: center;
      margin-top: 15px;
    }
  }

  .search button{
    margin-left: 0;
  }
}
