h1{
  font-size: 40px;
  font-weight: $font-semibold;
  letter-spacing: 15px;
  text-transform: uppercase;
  color: $color-3;
}

h2{
  font-size: 25px;
  letter-spacing: 10px;
  font-weight: $font-regular;
}